{% extends 'core/base.html' %}
{% block content  %}
<div class="d-flex flex-column align-items-center w-100">
  <h1 class="mb-3">Inicio</h1>
  <p class="text-center fw-bold w-75 mt-3">
  ¡Bienvenido a Subaru Demo! Descubre el mundo de la ingeniería japonesa, el rendimiento y la seguridad en cada modelo. Explora y vive la experiencia Subaru.
  </p>
  <hr class="w-75">
  <img src="https://c2.staticflickr.com/4/3016/2789986274_d842633b8a_z.jpg" alt="auto">
  <hr class="w-75">
</div>
{% endblock %}


    
